*{
  padding:0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


/*responsive*/

@media (max-width:952px){
    #logo{
      font-size:18px;
 
    }
    a:hover,a.active
    {
      background:rgb(15, 77, 0);
      color:rgb(255, 255, 255);
      transition: 0.5s;
      
    }
 
  }
/*middle paragraph*/

.heading{
 
  position: absolute;
  display: flex;
  top:71%;
  left:50%;
  transform: translate(-50%,-50%);
  width:50%;
  padding:30px 0;
  text-align: center;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  color: rgb(20, 20, 20);
  border: 10px inset rgb(255, 255, 255);
  background-image: linear-gradient(to right,red, rgb(115, 255, 0));
  font-family: monospace;

}
.home-middle-line{
  padding-left: 27px;
  
}
.contacts-in-home{
  position: absolute;
  display: flex;
  top: 83%;
  left: 71%;
  transform: translate(-50%,-50%);
  z-index:5;
  width:50%;
  padding:30px 0;
  text-align: center;
}
.whatsapp{
  color:green;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px  green;
}



.front{
 display:block;
 position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/*logo name*/

#logo{
  color:rgb(255, 0, 0);
  font-size:36px;
  padding:-1 100px;
  font-family: Georgia, serif;
  text-shadow: 1px 1px  rgb(255, 255, 255);
  white-space: nowrap;
}

.paragraph1{
  color: rgb(0, 0, 0);
  font-size: 25px;

}
#container-div{
  background-color: #4caf50;
}

@media (max-width:952px){
  #logo{
    font-size:18px;
  }
  .paragraph1{
    font-size: 13px;
  }
  .heading{
    width: 71%;
    font-family: monospace;
    position: absolute;
  }
}




/*ABOUT*/

.about-paragraph{
  padding:26px;
}
.hr{
  color:white
}
div.gallery{
  margin:20px;
  float: left;
  width:20%;
}
/*contacts*/



#contacts-heading{
  color:white;
  font-size:55px;
  
}

.address{
color:white;

}
.whatsapp{
color: rgb(71, 250, 0);
}
.number{
color:white
}

.number{
color: white;
}
.phone{
color: skyblue
}
.mail{
color:rgb(177, 2, 2)
}
