body {
    margin:0;
    background-image:url(images/bg2.jpg);
   

}
.wallabout{
    background: url(images/)no-repeat;
    background-position:top;
    background-size: cover;
    height:CALC(100VH);
    

  }

header{
    background-color: goldenrod;
}
.head-container{
    background-color: goldenrod;
}
.list-items{
    color:white;
    font-size:30px;
    text-transform: uppercase;
    padding-left: 65px;
}

/*spices list*/
#spices{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: ui-serif;
}

/*tea list*/

#tea{
    color:white;
    font-weight: bold;
}
.flavour-head{
    color:white;
    font-size: 32px;
    padding-left:72px;
    text-transform: uppercase;
    font-weight: bold;
   
}
.list-tea{
    color:rgb(255, 234, 50);
    font-size:30px;
    text-transform: uppercase;
    padding-left: 158px;


}
/*masala powder*/

#masala{
    color:green;
    font-weight: bold;

}
.masala-head{
    color:white;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left:72px;
    
}
.list-masala{
    color:rgb(255, 234, 50);
    font-size:30px;
    text-transform: uppercase;
    padding-left:158px;
}


/*dry fruits*/

#dry-fruits{

    color:rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}
.list-fruit{
    color:khaki;
    font-weight: bolder;
    font-size: 29px;
    text-transform: uppercase;
    padding-left:158px;
}
/*facial-items*/

#facial-items{
    color:#4b0756;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   text-transform: uppercase;
}
.facial-head{
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    font-size: 44px;
    padding-left: 72px;

}
.list-facial{
    color: lightgreen;
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 158px;

}
.fac-pack-img{
    width: 434px;
    margin-left: 145px;
    height: 529px;
}



/*soaps*/

#soap-head{
    
        font-weight: bold;
        color:white;
        text-transform: uppercase;
        font-size: 44px;

}
.soap-img{
    width: 400px;
    height: auto;
    margin-left: 158px;
}
.list-soap{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 158px;
    

}

/*oils*/

#oils{
    
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    font-size: 44px;

}
.oils-head{
    font-weight: bold;
    color:rgb(251, 255, 0);
    text-transform: uppercase;
    font-size: 44px;
    padding-left: 72px;

}
.list-oil{
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-transform: uppercase;
    padding-left: 158px;
    
}
.tea-gallery{
    width: 400px;
    height: auto;
    margin-left: 158px;
    padding-top: 15px;
}





/*hr tag*/
.hr{
    background: white;
    font-weight: bolder;
    width: 80%;

}
@media (max-width:992px){
    .list-items{
        padding: 0;
        font-size: 21px;
    }
    #res-spices{
        margin-left: 28px;
    }
    ol, ul {
        margin-top: 51px;
    }
    ol li{
        font-size:15px
    }
    .flavour-head{
        padding-left:0px;
        
    }
    .masala-head{
        padding-left: 0;
    }
    
    
    .list-tea{
        padding-left: 0;
       
    }

    .list-masala{
        padding-left: 0; 
    
    }
     .list-fruit{
    padding-left: 0;
    }
    .facial-head{
        padding-left: 0;
        font-size: 41px;
    }
    .list-facial{
        padding-left: 0;
    }
    .fac-pack-img{
        height: auto;
        width:76%;
        margin: 0;
    }
    .soap-img{
        margin: 0;
        height:auto;
        width:400px
       }
     .list-soap{
    padding-left: 0px;
     }
     .oils-head {
        padding-left: 0;
     }
     .list-oil{
         padding-left: 0;
     }
     .tea-gallery{
        width: 400px;
        height: auto;
        margin-left: 0;
        padding-top: 15px;
    }

}
